/* GENERAL */

body {
  background: #FAFAFA;
  box-sizing: border-box;
  font-size: 16px;
  color: #5D5D5D;
  font-family: Roboto, Helvetica, sans-serif;
  margin: 0;
}

.uppercase {
  text-transform: uppercase;
}

.logo {
  height: 95px;
}

.font-12 {
  font-size: 12px;
}

.font-13 {
  font-size: 13px;
}

.font-14 {
  font-size: 14px;
}

.font-17 {
  font-size: 17px;
}

.font-20 {
  font-size: 20px;
}

.italic {
  font-style: italic;
}

.center-text {
  text-align: center;
}

.bold {
  font-weight: 500;
}

.light {
  font-weight: 300;
}

/* HEADER */

header {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1;
  background: #C6DDE3;
  display: flex;
  box-shadow: 0px 2px 4px rgba(142, 142, 142, 0.25);
}

.nav-bar {
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  align-items: flex-end;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.nav-bar-item {
  color: #5D5D5D;
}

.page-location-container {
  background :#FFFFFF;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(216, 216, 216, 0.25);
}

.page-location {
  margin-left: 150px;
}

.location-arrow {
  height: 10px;
  margin: 0 5px;
}

.selected-item {
  color: #A7BEC5;
}

/* MAIN SECTION */

.main-section {
  position: relative;
  top: 95px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 410px;
}

.content {
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
  width: 82.5%;
}

/* SIDEBAR */

.sidebar-container {
  display: flex;
  flex-direction: column;
  width: 22.5%;
  min-width: 180px;
}

.sidebar-list {
  margin-bottom: 50px;
}

.sidebar-item {
  border-bottom: 0.5px solid #D1D1D1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  /* box-shadow: 1px 2px 11px rgba(200, 200, 200, 0.34); */
  /* onhover: 0.5px solid #EBEBEB; */
}

.sidebar-arrow {
  height: 10px;
  width: 15px;
}

.calendar {
  background: #FFFFFF;
  box-shadow: 1px 2px 11px rgba(200, 200, 200, 0.34);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 120px;
}

.calendar-title-container {
  width: 100%;
  background: linear-gradient(90deg, #C6DDE3, rgba(7, 100, 124, 0.25));
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-title {
  color: #FFFFFF;
  font-weight: 400;
}

.calendar-events-container {
  display: flex;
  justify-content: center;
  width: 75%;
}

.calendar-circle {
  background: #BF99DC;
  border-radius: 100%;
  min-height: 10px;
  min-width: 10px;
  max-height: 10px;
  max-width: 10px;
  margin: 17px 5px 5px 5px;
}

.no-more-events {
  background: #EBEBEB;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  min-height: 30px;
}


/* POSTS CONTAINER */

.posts-container {
  width: 72.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-post {
  background: #FFFFFF;
  box-shadow: 0px 2px 6px rgba(186, 186, 186, 0.25);
  border: 1px solid #F4F4F4;
  width: 77.5%;
  min-width: 235px;
  margin-bottom: 30px;
}

.post-content {
  padding: 0 25px 15px;
  display: flex;
  flex-direction: column;
}

.post-question-date-container {
  display: flex;
  justify-content: space-between;
}

.post-profile-photo {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  margin: 0 15px;
}

.post-author {
  display: flex;
  align-items: center;
  width: 100%;
  height: 20px;
}

.post-footer {
  border-top: 0.75px solid #DFDFDF;
  width: 100%;
  display: flex;
  justify-content: space-between;
  min-height: 50px;
}

.post-info {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 15px;
  align-items: center;
}

.post-info > * {
  margin: 0 5px;
}

.footer-arrows {
  height: 20px;
}

.left-arrow {
  transform: scaleX(-1);
  margin-right: 2.5px;
}

.next-post {
  padding-right: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 15%;
  min-width: 80px;
}

.next-post > * {
  margin-left: 5px;
}

.post-icon {
  height: 12.5px;
}

.post-replies-container {
  background: #FFFFFF;
  box-shadow: 0px 2px 6px rgba(186, 186, 186, 0.25);
  border: 1px solid #F4F4F4;
  width: 77.5%;
  min-width: 235px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.add-reply-button-container {
  display: flex;
  justify-content: center;
  border-bottom: 0.75px solid #DFDFDF;
  width: 100%;
}

.replies-list-container {
  width: 92.5%;
}

.reply {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.reply-line {
  border-bottom: 0.75px solid #D1D1D1;
}

.reply-author {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
}

.reply-profile-photo {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  margin: 0 15px;
}

.reply-likes {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-self: flex-end;
  min-width: 70px;
}


/* FOOTER */

footer {
  position: relative;
  top: 95px;
  background: #C6DDE3;
  box-shadow: 0px 2px 4px rgba(142, 142, 142, 0.25);
  display: flex;
  justify-content: center;
  min-height: 170px;
}

.footer {
  width: 80%;
  display: grid;
  grid-template-columns: 1.75fr 1.2fr 1.5fr 1.25fr;
  grid-template-rows: 1fr;
  min-height: 145px;
  margin: 10px 0;
}

.footer-section {
  display: flex;
  flex-direction: column;
}

.footer-title {
  margin: 20px 0;
}

.footer-links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 90px;
}

.footer-links > * {
  margin-bottom: 7.5px;
}

.email-address {
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.mail-icon {
  /* height: 10px; */
  width: 15px;
  margin-right: 5px;
}

@media only screen and (max-width: 550px) {
  .content {
    width: 90%;
  }

}

@media only screen and (max-width: 1000px) {
  .footer {
    width: 98%;
    grid-template-columns: 1.5fr 1.2fr 1.5fr 1.25fr;
  }
}


@media only screen and (max-width: 790px) {
  .footer-links {
    flex-wrap: nowrap;
  }
   .footer {
    width: 98%;
    grid-template-columns: 1.5fr 1.2fr 0.75fr 1.25fr;
   }

   footer {
     height: 250px;
   }
}

@media only screen and (max-width: 790px) {
  .footer-links {
    flex-wrap: nowrap;
  }
   .footer {
    width: 98%;
    grid-template-columns: 1.5fr 1.5fr;
    grid-template-rows: 1fr 3fr;
    justify-items: center;
   }

   footer {
     height: 390px;
   }

   .page-location {
  margin-left: 100px;
}

}



